rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{noteId} {
      // Anonymous user could read public notes
      allow read: if request.auth == null && resource.data.isPublic == true;
      
      // Authenticated user could read public ones;
      // read / add / update / delete its notes
      allow read: if request.auth != null && 
                  (resource.data.isPublic == true || 
                  resource.data.ownerId == request.auth.uid);
      allow create: if request.auth != null && 
                     request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if request.auth != null && 
                             resource.data.ownerId == request.auth.uid;
    }
  }
}